!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}/
    = stylesheet_link_tag "screen"
    %title Donald Plummer's Blog
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        = link_to "Donald's Blog", '/', :class => 'brand'
        %ul.nav.pull-right
          %li
            %a{:href => "https://github.com/dplummer"}
              %img{src: "/img/github.png", width: 32, height: 32}
          %li
            %a{:href => "/feed.xml"}
              %img{src: "/img/feed.svg", width: 32, height: 32}
    .container
      .row
        .span9
          #main{:role => "main"}
            = yield
        %aside.span3.sidebar
          .thumbnails
            .span3
              .thumbnail
                %img{:src => '/img/donald-drinking-beer-thumb.png'}
                %h5 Donald Plummer
                %p I'm a software developer in Seattle, WA.
          .well
            %h3
              Recent Articles
              %a{:href => "/archives"} Archive
            %ol
              - blog.articles[0...10].each do |article|
                %li
                  %a{:href => article.url}= article.title
                  %span= article.date.strftime('%b %e')
          .well
            %h3
              My
              = link_to "Github projects", "https://github.com/dplummer"
            %dl
              %dt
                = link_to "donaldplummer-com", "https://github.com/dplummer/donaldplummer-com"
              %dd
                the code that generates this site
            %dl
              %dt
                = link_to "boxcutter", "https://github.com/dplummer/boxcutter"
              %dd
                a wrapper for BlueBoxGroup's API
            %dl
              %dt
                = link_to "dotfiles", "https://github.com/dplummer/dotfiles"
              %dd
                the config files for my linux setup
          .well
            %h3 My Work
            %dl
              %dt= link_to "CrystalCommerce", "http://www.crystalcommerce.com"
              %dd
                A small company based in Seattle, WA which provides a
                feature-rich e-commerce solution for hobby and gaming
                stores.
    = javascript_include_tag "app"
