!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %link{:href => '/css/bootstrap.min.css', :rel => 'stylesheet'}
    %link{:href => '/css/bootstrap-responsive.min.css', :rel => 'stylesheet'}
    %link{:href => '/css/app.css', :rel => 'stylesheet'}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to "Donald's Blog", '/', :class => 'brand'
    .container
      .row
        #main.span9{:role => "main"}
          .container
            - if is_blog_article?
              - content_for :blog_article, yield
              = partial settings.blog_article_template
            - else
              = yield
        %aside.span3
          .well
            %h2
              Recent Articles
              %a{:href => "/archives"} Archive
            %ol
              - data.blog.articles[0...10].each do |article|
                %li
                  %a{:href => article.url}= article.title
                  %span= article.date.strftime('%b %e')
          .well
            %h2
              My
              = link_to "Github projects", "https://github.com/dplummer"
            %ul
              %li
                = link_to "donaldplummer-com", "https://github.com/dplummer/donaldplummer-com"
                the code that generates this site
              %li
                = link_to "boxcutter", "https://github.com/dplummer/boxcutter"
                a wrapper for BlueBoxGroup's API
              %li
                = link_to "dotfiles", "https://github.com/dplummer/dotfiles"
                the config files for my linux setup

